@model ResturantServiceCenter.Models.Location

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Location</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lng)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lng)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
